@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: #22254b;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.movie {
  background-color: #373b69;

  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
}
.movie img {
  max-width: 100%;
}
