@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #22254b;
  font-family: 'Poppins', sans-serif;
}
header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: inherit;

  font-size: 1rem;
}
.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}
main {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}
.movie img {
  width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  color: #eee;
  letter-spacing: 1px;
  font-weight: bold;
}
.movie-info h3 {
  margin: 0;
}
.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}
.movie-info span.green {
  color: greenyellow;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}
